/**
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
**/
* {
  font-family: 'Montserrat', sans-serif;

  border: 1px olive solid;

}

#title {
  background-color: #ff4c68;
}

div.pad {
  padding: 3% 15%;
}

.even-col {
}

.header-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

.logo {
  font-family: 'Ubuntu', sans-serif;
}
